.root{            
    -fx-background: rgb(238, 238, 238);
}

.example-button{
    -fx-background-color: rgb(218,218,218);
    -fx-border-color: rgb(245,245,245), rgb(154,154,154), rgb(245,245,245), rgb(154,154,154);
    -fx-min-width: 150;
    -fx-min-height: 20;
}

#duplicate-button{
    -fx-background-color :
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
}

.control-panel{
    -fx-background-color : rgb(218,218,218);
    -fx-arc-width: 10;
    -fx-max-height: 200;
    -fx-max-width: 200;
    -fx-padding: 10;
}

